body{
    font-family: 'Arial', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #03374c; 
    color:#ffffff;
}
header{
    background-color:#032533;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border: 2px solid #032533;
    backdrop-filter: blur(10px);
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}   
nav .logo{
    font-size: 24px;
    font-weight: bold;
    color:#ee4e22;
}
nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a {
    color:#ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ee4e22;
    /* border-radius: 15px 15px 15px 15px ;
    transition: background-color 0.8ms;
    cursor: pointer; */
}
.full-screen{
    height: 100vh;
    background: url('background.jpg') no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.full-screen .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100% ;
    background-color:#00000080; ;
}
.intro{
    z-index: 2;
    text-align: center;
    color: #fff;
}
.intro h1 {
    font-size: 48px;
    margin-bottom: 20px;
    /* animation: fadeIn 2s ease; acho que esse é a intro feia */
}
.intro p {
    font-size: 28px;
    margin-bottom: 20px;
    /* animation: fadeIn 2s ease 1s; acho que esse é tbm */
}
.cta {
    padding: 15px 30px;
    background-color: #ee4e22;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.cta:hover {
    background-color: #c73f15;
}
.content{
    padding: 100px 20px;
    text-align: center;
}
